name: CI

on:
  push:
    branches:
      - main
  pull_request:

env:
  NODE_ENV: production
  NEXT_TELEMETRY_DISABLED: 1
  CI: true

jobs:
  typecheck:
    name: Type Checking
    runs-on: blacksmith-2vcpu-ubuntu-2204
    steps:
      - name: Checkout Project
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup Node.js
        uses: useblacksmith/setup-node@65c6ca86fdeb0ab3d85e78f57e4f6a7e4780b391 # v5
        with:
          node-version: 22
          cache: yarn

      - name: Install Dependencies
        run: yarn --immutable

      - name: Check Types
        # setup-node tsc problem matcher doesn't like pretty errors
        run: yarn typecheck --pretty false

  linting:
    name: Linting
    runs-on: blacksmith-2vcpu-ubuntu-2204
    steps:
      - name: Checkout Project
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup Node.js
        uses: useblacksmith/setup-node@65c6ca86fdeb0ab3d85e78f57e4f6a7e4780b391 # v5
        with:
          node-version: 22
          cache: yarn

      - name: Install Dependencies
        run: yarn --immutable

      - name: Run ESLint
        run: yarn lint

  formatting:
    name: Formatting
    runs-on: blacksmith-2vcpu-ubuntu-2204
    steps:
      - name: Checkout Project
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup Node.js
        uses: useblacksmith/setup-node@65c6ca86fdeb0ab3d85e78f57e4f6a7e4780b391 # v5
        with:
          node-version: 22
          cache: yarn

      - name: Install Dependencies
        run: yarn --immutable

      - name: Run Prettier
        run: yarn prettier --check .

  commitlint:
    name: Commit Message Linting
    runs-on: blacksmith-2vcpu-ubuntu-2204
    steps:
      - name: Checkout Project
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: useblacksmith/setup-node@65c6ca86fdeb0ab3d85e78f57e4f6a7e4780b391 # v5
        with:
          node-version: 22
          cache: yarn

      - name: Install Dependencies
        run: yarn --immutable

      # https://commitlint.js.org/guides/ci-setup#github-actions
      - name: Validate current commit (last commit) with commitlint
        if: github.event_name == 'push'
        run: yarn commitlint --last --verbose

      - name: Validate PR commits with commitlint
        if: github.event_name == 'pull_request'
        run: yarn commitlint --from ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }} --to ${{ github.event.pull_request.head.sha }} --verbose

  build:
    name: Build
    runs-on: blacksmith-2vcpu-ubuntu-2204
    steps:
      - name: Checkout Project
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup Node.js
        uses: useblacksmith/setup-node@65c6ca86fdeb0ab3d85e78f57e4f6a7e4780b391 # v5
        with:
          node-version: 22
          cache: yarn

      - uses: useblacksmith/cache@71c7c918062ba3861252d84b07fe5ab2a6b467a6 # v5
        with:
          path: |
            ${{ github.workspace }}/.next/cache
          # Generate a new cache whenever packages or source files change.
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/yarn.lock') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/yarn.lock') }}-

      - name: Install Dependencies
        run: yarn --immutable

      - name: Build
        run: yarn build
